parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Validator\\ConstraintViolationListInterface\:\:getIterator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resolver/MapperValueResolver.php

		-
			message: '#^Instantiated class ExceptionHandlerBundle\\Exception\\ValidationException not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resolver/MapperValueResolver.php

		-
			message: '#^Throwing object of an unknown class ExceptionHandlerBundle\\Exception\\ValidationException\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resolver/MapperValueResolver.php
